hostname {{ hostname }}
enable secret {{ strong_password }}
username admin secret {{ strong_password }}
line vty 0 15
 transport input ssh
!
line vty 0 15
 logging synchronous
 access-class 23 in
 transport input ssh
 exec-timeout 30 0
 login local
!
service timestamps debug datetime msec
service timestamps log datetime msec
